<div class="container-fluid page">
    <div class="page__content shadow p-3 position-relative">
        <br />
        <div class="page__content shadow p-3">
            <mat-accordion>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title> Datos personales </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <form >
                            <mat-card class="example-card">
                                <br />
                                <div>
                                    <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                        fxFlex.xs="20">
                                        <br />
                                        <strong>
                                            <p>Nombre completo</p>
                                        </strong>
                                    </div>
                                    <div style="margin-left: 120px" fxLayout="column" fxFlex="80" fxFlex.sm="80"
                                        fxFlex.xs="80">
                                        <mat-form-field>
                                            <strong> <input matInput placeholder="Nombre completo"
                                                     readonly /> </strong>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <mat-card-content>
                                    <div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Tipo de documento</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <mat-form-field>
                                                <strong> <input matInput readonly />
                                                </strong>
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Número de documento</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="40" fxFlex.sm="40"
                                            fxFlex.xs="40">
                                            <mat-form-field>
                                                <strong> <input matInput /> </strong>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Lugar de expedición</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <mat-form-field>
                                                <strong> <input matInput />
                                                </strong>
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Fecha de expedición</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="40" fxFlex.sm="40"
                                            fxFlex.xs="40">
                                            <mat-form-field>
                                                <strong> <input matInput />
                                                </strong>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Fecha de nacimiento</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <mat-form-field>
                                                <strong> <input matInput  /> </strong>
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Teléfono</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="40" fxFlex.sm="40"
                                            fxFlex.xs="40">
                                            <mat-form-field>
                                                <strong> <input matInput  /> </strong>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Dirección</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <mat-form-field>
                                                <strong> <input matInput /> </strong>
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-left: 10px" fxLayout="column" fxFlex="20" fxFlex.sm="20"
                                            fxFlex.xs="20">
                                            <br />
                                            <strong>
                                                <p>Correo</p>
                                            </strong>
                                        </div>
                                        <div style="margin-left: 120px" fxLayout="column" fxFlex="40" fxFlex.sm="40"
                                            fxFlex.xs="40">
                                            <mat-form-field>
                                                <strong> <input matInput /> </strong>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </form>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                        <mat-panel-title> Cambio de contraseña</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div style="margin-top: 20px">
                        <form >
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <div fxLayout="column" fxFlex="30" fxFlex.sm="30" fxFlex.xs="30">
                                        <mat-form-field>
                                            <input formControlName="currentPassword" type="password"
                                                style="text-align: center" matInput
                                                placeholder="Ingrese contraseña actual"
                                                />
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="30" fxFlex.sm="30" fxFlex.xs="30"
                                        style="margin-left: 20px">
                                        <mat-form-field>
                                            <input formControlName="newPassword" type="password"
                                                style="text-align: center" matInput
                                                placeholder="Ingrese nueva contraseña"
                                                 />
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                                <div class="row container">
                                    <div class="col-12">
                                        <div class="input-group mb-1">
                                            <mat-hint style="padding: auto;">La contraseña debe ser de mínimo 8 caracteres, al menos una letra minúscula, al menos una letra mayúscula, al menos un número y al menos un carácter especial.</mat-hint>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br />
            <div class="padre">
                <button mat-raised-button color="primary" >
                    Guardar
                    <span class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>